<div style="position: fixed;height: 77px; width: 100%; background-color: #333333; top: 90%;">
    <h5 style="color: white; line-height: 5px;"> English (UK) &nbsp; मराठी &nbsp; हिन्दी &nbsp; ردو &nbsp; ગુજરાતી &nbsp; ಕನ್ನಡ &nbsp; ਪੰਜਾਬੀ &nbsp; தமிழ் &nbsp; বাংলা &nbsp; తెలుగు &nbsp; മലയാളം </h5>
    
        <p style="color: #fff;line-height: 10px;font-size: 0.7em;">© BlackRock Group 2024</p>
</div>