    <link rel="stylesheet" href="/css/homePage.css">

    <h1 style="color: blueviolet;"> Welcome to MYCHATSPHERE website</h1>

    <div id="login">
        <h3> Login here.. </h3>

        <form action="/users/checkAccount" method="post" id="form">
        
            <label for="email"> Email -</label>
            <input style="position: relative;left: 32px;" type="email" name="email" placeholder="Enter the Email...." required>

            <label for="password"> Password -</label>
            <input style="position: relative;left: 10px;" type="password" name="password" placeholder="Enter the password..." required>
            <button> Submit </button>
        </form>

    </div>